flask
transformers
torch
scikit-learn
pandas

requests
beautifulsoup4
pinecone-client
transformers
torch
scikit-learn
dotenv
langchain


** While in the backend directory (cd backend), execute the following on macOS
python3 -m venv venv (just first time to create the virtualenv)
source venv/bin/activate
pip3 install flask transformers torch scikit-learn pandas

*** FOR GDELT
pip3 install requests beautifulsoup4 sqlalchemy


** To RUN the Flask App:

source venv/bin/activate

FLASK_APP=app.py flask run
